#button{
  margin-left: 0.5%;
  padding: 15px, 25px;
  border-radius: 15px;
  box-shadow: 5px 7px #999;
  background-color: gray;
  border: none;
}
#button:hover{
  background-color: ghostwhite;
  color: black;
}
#button:active{
  background-color: ghostwhite;
  box-shadow: 3px 5px #666;
  transform: translateY(4px);
}
#button3{
  visibility: hidden;
}